body {
    font-family: "Arial Black";
    text-align: center;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 20px;
}

.content-grid {
    max-width: 960px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.padding-top {
    padding-top: 20px;
}

.margin-left {
    margin-left: 50px;
}

.margin-right {
    margin-right: 50px;
}

.display-inline-block{
    display: inline-block;
}

.font-big {
    font-size: 30px;
}

.vertically-align {
    margin: auto;
    vertical-align: middle;
}

.btn {
    position: relative;
    display: inline-block;
    margin: 16px;
    outline: none;
    cursor: pointer;
}

.btn--choice {
    border: none;
    background: #fff;
}

.icon--user:hover{
    color: #019cdf;
    outline: none;
    transform: scale(1.30);
    transition: 0.3s ease-in-out;
}

.btn--reset {
    border: solid #4b4b4b;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    color: #4b4b4b;
    font-size: 18px;
    background-color: #fff;
}

.btn--reset:hover {
    border: solid #019cdf;
    background-color: #019cdf;
    color: #fff3e0;
}
.center-align{
   width: 100%;
}
@media screen and (max-width: 299px) {
    .icon {
        font-size: 16px;
    }
    .show-on-tablet{
        display: block;
    }
    .show-on-phone{
        display: block;
    }
    .icon--user:hover{
        transform: scale(.50);
        transition: 0.3s ease-in-out;
    }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
    .icon {
        font-size: 24px;
    }
    .show-on-tablet{
        display: block;
    }
    .show-on-phone{
        display: block;
    }
    .icon--user:hover{
        transform: scale(1.0);
        transition: 0.3s ease-in-out;
    }
}

@media screen and (min-width: 800px) {
    .icon {
        font-size: 50px;
    }
    .show-on-tablet{
        display: none;
    }
    .show-on-phone{
        display: none;
    }
}
