body {
    font-family: "Arial Black";
    text-align: center;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 20px;
}

.content-grid {
    max-width: 960px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.margin-top {
    margin-top: 20px;
}

.margin-left {
    margin-left: 70px;
}

.margin-right {
    margin-right: 70px;
}

.font-big {
    font-size: 30px;
}

.icon-size {
    font-size: 55px;
}

.vertically-align {
    margin: auto;
    vertical-align: middle;
}

.btn {
    position: relative;
    display: inline-block;
    margin: 16px;
    outline: none;
    cursor: pointer;
}

.btn--choice {
    border: none;
    background: #fff;
}

.btn--reset {
    border: solid #4b4b4b;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    color: #4b4b4b;
    font-size: 18px;
    background-color: #fff;
}

.btn--reset:hover {
    border: solid #019cdf;
    color: #019cdf;
}
.center-align{
   width: 100%;
}
@media screen and (max-width: 299px) {
    .icon-size {
        font-size: 16px;
    }
    .show-on-tablet{
        display: block;
    }
    .show-on-phone{
        display: block;
    }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
    .icon-size {
        font-size: 24px;
    }
    .show-on-tablet{
        display: block;
    }
    .show-on-phone{
        display: block;
    }
}

@media screen and (min-width: 800px) {
    .icon-size {
        font-size: 50px;
    }
    .show-on-tablet{
        display: none;
    }
    .show-on-phone{
        display: none;
    }
}
